body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #4e54c8, #8f94fb);
}

h1{
  color: #ffffff;
  font-size: 20;
  text-align: center;
}


.wrapper{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

button{
  width: 80%;
  height: 50px;
  background-color: #ffffff;
  color: #4e54c8;
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}